<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item"><a href="#">Account</a></li>
          <li class="breadcrumb-item"><a href="#">Address Book</a></li>
        </ol>
        <div class="ico">
        <!-- <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i> -->
        <i class="fas fa-braille"></i>
        </div>
      </nav>
<h4>Address Book Entries</h4>
<p class="pp">Manage your addresses here</p>
<div class="card">
    <div class="card-header p-1 text-white">
      Primary Address
    </div>
    <div class="card-body">
      <b >Name: &nbsp; </b ><span class="card-text" style="color:rgb(245, 113, 37);">Mahmudur Rahman</span><br>
      <i class="far fa-building pt-4 p-1"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apt No, Name, Lane<br>
      <i class="fas fa-map-marker-alt pt-2 p-1"></i> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Postal code,State<br>
      <i class="fas fa-phone p-1 pt-2"></i>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;+991 234 567 89
    </div>
    <div class="card-footer p-1">
        <i class="far fa-edit"></i><i class="far fa-trash-alt"></i>
    </div>
  </div>

  <!-- 2nd Address cards -->
  <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="card1">
            <div class="card-header1 p-1"  style="color:rgb(245, 113, 37);font-weight:normal;">
              Primary Address
            </div>
            <div class="card-body">
              <b >Name: &nbsp; </b ><span class="card-text" style="color:rgb(245, 113, 37);font-weight:normal;">Mahmudur Rahman</span><br>
              <i class="far fa-building pt-4 p-1"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apt No, Name, Lane<br>
              <i class="fas fa-map-marker-alt pt-2 p-1"></i> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Postal code,State<br>
              <i class="fas fa-phone p-1 pt-2"></i>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;+991 234 567 89
            </div>
            <div class="card-footer1 p-1">
                <i class="far fa-edit fa1"></i><i class="far fa-trash-alt fa1"></i>
            </div>
          </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="card2">
            <div class="card-header1 p-1"  style="color:rgb(245, 113, 37);font-weight:normal;">
              Primary Address
            </div>
            <div class="card-body">
              <b >Name: &nbsp; </b ><span class="card-text" style="color:rgb(245, 113, 37);font-weight:normal;">Mahmudur Rahman</span><br>
              <i class="far fa-building pt-4 p-1"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apt No, Name, Lane<br>
              <i class="fas fa-map-marker-alt pt-2 p-1"></i> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Postal code, State<br>
              <i class="fas fa-phone p-1 pt-2"></i>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;+991 234 567 89
            </div>
            <div class="card-footer1 p-1"  style="color:rgb(245, 113, 37);">
                <i class="far fa-edit fa1"></i><i class="far fa-trash-alt fa1"></i>
            </div>
          </div>
      </div>
  </div>
  <button class="btn btn-outline-dark pr-5 pl-5" type="button">Back</button>
  <button class="btn bttn" type="button">New Address</button>

  <!-- footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-sm-3">
                  <p class="p1">SHOP</p>
                  <hr>
                  <p>See All</p>
                  <p>Leggings & Joggers</p>
                  <p>Tees & Tops</p> 
              </div>
              <div class="col-lg-3 col-sm-3">
                <p class="p1">ACCOUNT</p>
                <hr>
                <p>My Orders</p>
                <p>Refer a Friend</p>
                <p>Help</p> 
            </div>
            <div class="col-lg-3 col-sm-3">
                <p class="p1">COMMUNITY</p>
                <hr>
                <p>Instagram</p>
                <p>Stores</p>
                <p>Events</p> 
            </div>
            <div class="col-lg-3 col-sm-3">
                <p class="p1">RESOURCES</p>
                <hr>
                <p>Our Story</p>
                <p>LookBook</p>
                <p>Technology</p> 
            </div>
          </div>
          <p class="ran-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium consectetur dolores asperiores necessitatibus ipsam expedita nam aut ut ullam iste facere labore odio voluptatum qui nisi, quod odit hic voluptas</p>
          <p class="faq">FAQ &nbsp;&nbsp;.&nbsp;&nbsp;Privacy Policy&nbsp;&nbsp;.&nbsp;&nbsp;Terms of Use</p>
     </div>
  </footer>
</body>