 <!-- header starts here -->
 <nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link ml-5" href="#">Shop <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logo" href="#">Logo</a>
      </li>
      
    </ul>
    
    <form class="form-inline">
      <div class="input-icons"> 
        <i class="fas fa-search p-1"></i>
      <input class="form-control mr-sm-2 input-field"  type="search" placeholder="Search" aria-label="Search">
    </div>
    </form>
    <a href="#"><i class="far fa-comment-alt p-3 icon"></i></a>
    <a href="#"><i class="far fa-user icon p-3"></i></a>
    <a href="#"><i class="fas fa-shopping-bag p-3 mr-5"></i></a>
  </div>
</nav>

<div class="sidenav">
  <a routerLink="/profile" class="link"><button type="button" class="btn">Your Profile</button></a>
  <a routerLink="/address" class="link"><button type="button" class="btn btn1">Addresses</button></a>
  <a routerLink="/order" class="link"><button type="button" class="btn btn2">Order History</button></a>
  <a routerLink="/refer" class="link"><button type="button" class="btn btn3">Wallet</button></a>
  <a routerLink="/wallet" class="link"><button type="button" class="btn btn4">Refer A Friend</button></a>
  <a routerLink="/logout" class="link"><button type="button" class="btn btn5">Logout</button></a>
</div>

  <!-- header ends here... -->